*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: antiquewhite;
    margin-bottom: 10px;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    color: blue;
}
header p{
    font-family: sans-serif;
}
header img{
    border-radius: 50%;
}
section{
    margin-bottom: 20px;
    text-align: center;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
    text-rendering: auto;
}

@media (max-width:600px){
    body{
        margin: 10px;
    }
    header img{
        width: 100px;
    }
}